@import url('https://fonts.googleapis.com/css?family=Muli:200,400&display=swap');


body {
    margin: 0;
    overflow-x: hidden;
    border: 1px solid transparent;
}

h1 {
    color: #ffffff;
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-weight: 200;
    font-size: 56px;

}

h2 {
    color: #000000;
    padding: 3em 0 1em 0;
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-weight: 200;
    font-size: 42px;
    margin: 0;
}
h3, p, div{
    font-family: 'Muli', sans-serif;
  
}
h3, p{
    margin: 2px 2px;
}

.about {
    color: #ffffff;
    font-size: 18px;
    padding: 2em 5em 0 5em;
    text-align: center;
}

.hero {
    position: relative;

}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(35%);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-inside {
    position: relative;
    padding: 15em 0 25em 0;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}

.item-skill {
    width: 70px;
    height: 70px;
    padding: 0 20px 25px 20px;

}

.col {
    padding: 0 20px 25px 20px;
    flex-direction: column;
    text-align: center;

}

.hobby-text {
    color: #000000;
}

.hobby-img {
    width: 70px;
    height: 70px;
}

.contact-info {
    color: #000000;
    text-align: center;
    padding: 1em 5em 0 5em;
}
.project-section{
    padding: 0 0 5em 0;
    background-color: #D9CCC5;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    
}
.project-item{
    background-color: #D9BFA9;
    padding: 20px;
    margin: 5px 0;
}


.skill-section {
    background-color:#F2E4D8;
    padding-bottom: 5em;
}

.hobby-section {
    background-color: #D9CCC5;
    padding-bottom: 5em;

}

.contact-section {
    padding: 0 0 5em 0;
    background-color:#F2E4D8;
}

.animation {
    transition: transform 1.5s ease-in-out;
    transform: translateX(200%);
    -webkit-transform: translateX(200%);
    
}

.animation-right {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
}
.btn a{
    background-color: #A69586;
    width: 200px;
    padding: 14px;
    color: #FFEFD6;
}
.project-details{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5px 0;
}
.img-item{
    position: relative;
  /*margin-top: 50px;*/
  width: auto;
  height: auto;
    
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
  
}
.img-item:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .6);
  }

.btn-website{
    position: absolute;
    width: 800px;
    left:0;
    top: 180px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
}

.img-item:hover .btn-website {
    opacity: 1;
  }

@media (min-width: 851px) {
    .hero::before {
        background-image: url("img/bgimg.jpg");
    }
}

@media (max-width: 850px) {
    .hero::before {
        background-image: url("img/bgimgmobile2.jpg");
    }

    .hero-inside {
        padding: 10em 0 15em 0;

    }

    .about {
        font-size: 16px;
    }

    .contact-info {
        padding: 1em 1em 0 1em;
    }
    .animation {
        -o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
    }
    .project-item{
        padding: 10px;
    }
    .btn{
        margin:20px 0;
    }
}