@import url('https://fonts.googleapis.com/css?family=Muli:200,400&display=swap');

:root {
    --color-bg-primary: #DDEBEB;
    --color-bg-secondary: #DDE2EB;
    --box-bg-color: #E9E2EB;
    --btn-color: #A4AFA8;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Muli', sans-serif;
}

h1 {
    text-align: center;
    font-weight: 200;
    font-size: 2rem;
}

h2 {
    text-align: center;
    font-weight: 200;
    font-size: 42px;
    margin: 0;
    padding: 20px 0;
}

picture img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.hero-inside {
    display: flex;
    flex-direction: column;
    position: absolute;
    color: #000;
    max-width: 250px;
    bottom: 20%;

    h1 {
        font-size: 1.2em;
        font-weight: 400;
        margin-bottom: 5px;
    }

    p {
        font-size: 1rem;
        text-align: center;
        margin: 0;
    }

    .btns-wrapper {
        display: none;
    }
}

.about-section,
.contact-section {
    color: #000;
    font-size: 1rem;
    text-align: center;
    background-color: var(--color-bg-secondary);

    .img-container {
        display: none;
    }

    .text-container {
        background-color: var(--color-bg-secondary);
        padding: 20px;

        .content-wrapper {
            border: 1px solid white;
            padding: 25px;
        }

        p {
            text-align: center;
            margin: auto;
            font-weight: 600;
        }
    }
}

.short-desc {
    padding-bottom: 20px;
    font-weight: 400;
}

.btns-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px
}

.container {
    border: 1px solid white;
    max-width: 1285px;
    width: 100%;
}

.item-skill {
    height: 70px;
}

.col {
    padding: 0 20px 25px 20px;
    flex-direction: column;
    text-align: center;

}


.contact-info {
    color: #000;
    text-align: center;
    padding: 1em 5em 0 5em;
}

.project-section {
    padding: 0 0 5em 0;
    background-color: var(--color-bg-secondary);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}

.project-items {
    display: grid;
    justify-content: center
}

.project-item {
    padding: 20px;
    margin: 25px;
    color: #000;
    border: 1px solid #fff;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    box-shadow: 0px 0px 5px 0px rgba(125, 127, 154, 1);

    .project-title {
        position: absolute;
        z-index: 50;
        top: -42px;
        background-color: var(--color-bg-secondary);
        padding: 10px;
    }
}


.skill-section {
    background-color: var(--color-bg-primary);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
        justify-items: center;
    }
}

.skill-box {
    background-color: var(--color-bg-secondary);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 5px 0px rgba(125, 127, 154, 1);
    padding: 10px;
    max-width: 150px;
    height: 160px;
    margin: 25px;

    p {
        margin: 0;
        text-align: center;
    }
}

.btn {
    background-color: var(--btn-color);
    padding: 15px 25px;
    border-radius: 15px;
    width: 120px;
    text-align: center;

    a {
        color: #ffffff;
        text-decoration: none;
        text-transform: lowercase;
        font-weight: 600;
    }

    .icon {
        font-size: 1rem;
        padding-right: 10px;
    }
}


.project-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    padding-bottom: 10px;
}

.img-item {
    position: relative;

}


@media (min-width: 960px) {
    .hero-inside {
        max-width: 400px;
        bottom: auto;
        left: 0;
        padding: 0 25px;
        gap: 25px;

        h1 {
            font-size: 2.25em;
            font-weight: 400;
        }

        p {
            font-size: 1.75rem;
            text-align: center;
            margin: 0;
        }

        .btns-wrapper {
            display: flex;
            justify-content: center;
        }
    }

    .about-section,
    .contact-section {
        background-color: #fff;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .img-container {
            display: block;
        }

        .text-container {
            max-width: 600px;
            width: 100%;
        }
    }


    .project-items {
        grid-template-columns: 1fr 1fr;
    }

    .skill-section {

        .container {
            grid-template-columns: repeat(5, auto);
            row-gap: 35px;
        }
    }

}